html{
/*    background-image: url("../img/white_brushed.png");
    background-repeat: repeat;*/
    
}

body{
    
    background: #C7C7C7;  
    background: -webkit-linear-gradient(-55deg, #F7F7F7, #C7C7C7);   
    background: linear-gradient(-55deg, #C7C7C7, #F7F7F7);  
    

/*    background: transparent;
    background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1),  rgba(100,100,100,1)); 
    background: linear-gradient(-90deg,  rgba(100,100,100,0.2), rgba(255,255,255,0.5));  */
    

}

h1, h2, h3, h4, h5{
    color: #0e1111;
}

.main{
    color: black;
    
}

path.sign-preload-stroke{
    stroke:#0e1111;
}

path.sign-stroke{
    stroke: black;
    fill: #353839;
}




@keyframes strokeanimlight {
    0%   {fill:#0e1111;}
    50%  {fill:#414a4c;}
    100% {fill:#0e1111;}
}

path.sign-stroke-s{
    animation: strokeanimlight linear 10s infinite;
}

path.sign-stroke-h{
    animation: strokeanimlight linear 10s infinite;
}


svg.img-sign:hover path.sign-stroke{
    fill:#414a4c;
}


h3.code-subtitle{
    color:  #FFFFFF;
}



.sub-dev:hover .fa-code:before{
    content: "developer";    
    color: #0e1111;
}


.sub-des:hover .fa-paint-brush:before{
    content: "designer";
    color: #0e1111 ;;
}



.sub-nerd:hover .fa-ra:before{
    content: "n3rd";
    color: #0e1111;
}


.nav-link{
    color: #0e1111 !important;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);    
    font-weight: 500 !important;    
}

.nav-link:hover {
    color: #000 !important;    
}




/*Experiment Box3d*/
.p3d a {
    color: #0e1111;

}
.p3d a:hover span {
    background: #0e1111;
}

.p3d a span:after {
    background: #0e1111;
    color: #DDD;
}
/**End P3d*/


.page-about .fa-code, .fa-diamond, .material-icons, .page-skills .fa-briefcase{
    color: black !important;
}
.animatedcogs .cogsm, .animatedcogs .cogbg {
    color: black !important;
}

.page-about .hvr-shiny:hover {
    color: black !important;
}


.WordClass:hover{
    color: #0e1111 !important;
    transform: scale(1.3) !important;  
    background-color: transparent !important;
}


form input, form textarea{
    color: black !important;
}

.form-group label{
 color: black !important;   
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #414a4c 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #020201 1px, rgba(210, 210, 210, 0) 1px);
}

.page-contact a{
    transition: all 1s;
}
.page-contact a i{
    color: black;
    transition: all 1s;
}

.page-contact a:hover, a:focus {
    color: black;
}
.page-contact a:hover i {
    color: #89229b;
}

.line-menu{
    background-color: black;
}